.vscode/settings.json
.ipynb_checkpoints/SQL-refresher-checkpoint.ipynb
.ipynb_checkpoints/UsingNumpy-checkpoint.ipynb
.ipynb_checkpoints/IntermediateDSPython-checkpoint.ipynb
.ipynb_checkpoints/matplotlib_introduction-checkpoint.ipynb
