.vscode/settings.json
.ipynb_checkpoints/SQL-refresher-checkpoint.ipynb
.ipynb_checkpoints/UsingNumpy-checkpoint.ipynb
.ipynb_checkpoints/IntermediateDSPython-checkpoint.ipynb
.ipynb_checkpoints/matplotlib_introduction-checkpoint.ipynb
.ipynb_checkpoints/DataScience Toolbox II-checkpoint.ipynb
.ipynb_checkpoints/importing_data_from_web-checkpoint.ipynb
.ipynb_checkpoints/cleaning_data-checkpoint.ipynb
.ipynb_checkpoints/Importing Data 1-checkpoint.ipynb
.ipynb_checkpoints/creating_a_dataframe-checkpoint.ipynb
.ipynb_checkpoints/manipulating_dataframes_pandas-checkpoint.ipynb
